body{
    background-color: lightgrey;
    padding: 0%;
    margin: 0%;
}

#container{
    background-color: white;
    width: 50%;
    height: 80%;
    position: absolute;
    box-shadow: 4px 4px 8px #1f1c2c67;
    /* top: 13%;
    left: 30%; */
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 50px;
    margin-right: 50%;
}

#svg{
    margin-top: 3px;
    padding: 10px;
    display: flex;
    justify-content:center ;
}

#signin{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name, #email, #password{
    size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#name-label, #email-label, #password-label{
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    
}

#name:hover, #email:hover, #password:hover {
    border-color: #928dab; /* Change border color on hover */
    border-width: 2px;
    transition: border-color 0.2s ease-in-out; /* Smooth transition */
}


input {
    width: 60%;  
    height: 20px;
    font-size: 16px; 
    margin-top: 3px;
    padding: 8px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

#btn1{
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 30px;
    border-width: 0.5px;
    width: 60%;  
    height: 40px;
    padding-top: 2px;
    background-color: #1f1c2c;
    color: #928dab;
    font-size: larger;
}

#btn1:hover {
    background-color: #928dab; /* Reverse Background */
    color: #1f1c2c; /* Reverse Text Color */
    border-color: #1f1c2c; /* Reverse Border Color */
    font-size: larger; /* Increase Font Size */
    transition: all 0.15s ease-in-out; /* Smooth Transition */
}


#signup{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#misc{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    justify-content: center;
    /* justify-content: space-between; */
    /* padding: 0.5px; */
    color: blue;
}

a {
    margin-top: 5px;
    text-decoration: none;
    font-size: 10px;
    color: #6a5acd;
    font-weight: lighter;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
    color: #483d8b; /* Thoda darker purple */
}
