.parent{
    display: flexbox;
    height: 100vh;
    justify-items: center;
    align-content: center;
    align-self:center;
    justify-self:center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.log{
    display: flexbox;
    height:auto;
    flex-wrap: nowrap;
    background-color: rgb(160, 172, 182);
    outline: 5px color(rgb(7, 7, 7));
}
.signup{
    display: flexbox;
    height:auto;
    flex-wrap: nowrap;
    background-color: rgb(160, 172, 182);
    outline: 5px color(rgb(7, 7, 7));
}