body {

    background-image: url(IndexBGImage.jpeg) ;
    background-position: right center;
    margin: 0 ;
    font-family: "Yatra One";
    
    }
    
    header {
        text-align: center;
        color: rgb(155, 46, 16);
        background-color: rgb(201, 172, 129);
        outline : 9px solid rgb(155, 46, 16);
    }
    
    .Forgot{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      height: 45vh;
      color: rgb(155, 46, 16);
    
      form {
        background-color: rgb(244, 213, 176);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 7px; 
        border: 3px solid rgb(155, 46, 16);
      }
    
      p{
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        text-decoration:none ;
      }

      button{
        margin-top: 1em;
        background-color:  rgb(201, 173, 130);
        border-radius: 1em;
        border: none;
        outline : 3px solid rgb(155, 46, 16);
        padding: 5px;
        color: blueviolet;
        font-family: "Yatra One";
      }
    
    }
    
    .Text{
       margin-top: 5em;
       background-color: rgb(244, 213, 176) ;
       padding-left: 6.1em;
       padding-right: 6.1em;
       outline: 3px solid rgb(155, 46, 16) ;
    
    }