body{
    background-image: url("b.jpg");
    align-items: center;
    display: flex;
    background-position: center;
    background-repeat: repeat;
    
}

header{
    color: rgb(171, 0, 121);
    font-weight: 200;
    font-size: 75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.box{
margin: 0 auto;
margin-top: 10vh;
margin-bottom: 10vh;
display: flex;
flex-direction: column;
justify-content: center;
height: 80vh;
width: 60lvh;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
font-size: large;
font-family: inherit;
align-items: center;
justify-content: space-around;
border: 2px solid rgb(136, 0, 95);
border-radius: 15px;
}

button{
    background-image:linear-gradient(to bottom,rgb(173, 0, 121),rgba(223, 9, 109, 0.596));
    color: rgb(255, 248, 253);
    border-radius: 10px;
    border-color:rgb(105, 3, 80);
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;

}

