* {
    background-color: bisque;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px; /* Default chhota */
    height: 100vh;
    background-color: #2E2E2E;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    padding-top: 50px;
}

/* SVG Icon */
#svg {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #2E2E2E;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: left 0.3s ease-in-out;
}

/* Sidebar expand hote hi icon move kare */
#container:hover {
    width: 200px;
}

#container:hover #svg {
    left: 150px;
}

/* Sidebar Menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 20px;
    opacity: 0; /* Default hidden */
    transition: opacity 0.3s ease-in-out;
}

/* Menu Items */
.sidebar-menu li {
    background-color: #2E2E2E;
    padding: 10px;
    text-align: left;
}

.sidebar-menu li a {
    background-color: #2E2E2E;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Hover pe text dikhana */
#container:hover .sidebar-menu {
    opacity: 1;
}
