@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

body {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("background.jpg");
}

.box {
  height: auto;
  width: auto;
  background-color: rgba(0, 34, 24, 0.61);
  display: flex;
  align-items: left;
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 26px;
  gap: 25px;
  padding: 15px 45px;
  margin-top: 1.5%;
}

.header {
  font-family: "Roboto", serif;
  color: rgb(9, 218, 117);
  text-align: start;
  font-weight: 350;
  font-size: 50px;
}

span {
  color: rgba(0, 255, 132, 0.918);
  font-family: "Roboto", serif;
}

button {
  font-family: "Roboto", serif;
  background-color: aquamarine;
  border-radius: 11px;
  width: 6em;
  height: 2.5em;
  font-size: large;
  margin-left: 30%;
}

button:hover {
  cursor: pointer;
  background-color: rgb(52, 255, 187);
}

input {
  border: 1px solid rgb(143, 143, 143);
  max-width: 120px;
  min-height: 30px;
  border-radius: 3px;
}

p {
  color: aqua;
}
a {
  text-decoration: underline;
  color: inherit;
}

.Input {
  font-family: "Roboto", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  padding: 3px 10px;
  gap: 10px;
}
