body {
    font-family:'Courier New', Courier, monospace;
    background-color: #71e167;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .container {
    background-color: #d0db42;
    padding: 20px;
    border-radius: 50px;
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
    border-color: #020b01;
    border-width: 2px;
  }
  
  .form h2 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .form input {
    width: 100%;
    margin-top:5px;
    border: 1px solid #1b1e05;
    border-radius: 7px;
    font-size: 16px;
    padding: 5px;
  }
  
  .form button {
    width: 100%;
    padding: 5px;
    background-color: #070a0e;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor:auto;
    margin-top: 10px;
  }
  
  h3 {
    text-align: center;
    color: #020b01;
  }
  
  h3 a {
    color: #007bff;
    text-decoration: none;
  }